<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>


  <body>
    <nav>
<ul>
<li><a href="/" style="color:maroon; font-size:12px"><strong>HOME</strong></a></li>
<li><a href="/about" style="color:maroon; font-size:12px"> <strong>ABOUT</strong></a></li>
<li><a href="/publications" style="color:maroon; font-size:12px"> <strong>PUBLICATIONS</strong></a></li>
<li><a href="/blog" style="color: maroon; font-size:12px"> <strong>BLOG</strong></a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
        		<li><a href="mailto:muhammad.bilal@connect.polyu.hk" style="color: NAVY">Email</a></li>
        		<li><a href="https://github.com/rsbilal" style="color: NAVY">GitHub</a></li>
	   		<li><a href="https://scholar.google.com/citations?hl=en&user=fBCZaKwAAAAJ&view_op=list_works" style="color: NAVY">GoogleScholar</a></li>
	   		<li><a href="https://www.researchgate.net/profile/Muhammad_Bilal_phd" style="color: NAVY">ResearchGate</a></li>
			<li><a href="https://publons.com/researcher/1093783/muhammad-bilal" style="color: NAVY">Publons</a></li>		
	   		<li><a href="https://www.facebook.com/bilal.lsgi.polyu" style="color: NAVY">FaceBook</a></li>
	   		<li><a href="https://www.linkedin.com/in/muhammadbilal2526" style="color: NAVY">LinkedIn</a></li>

			
			</ul>
		</footer>
	</body>
</html>
