<!DOCTYPE html>
<html>
	<head>
		<title>Muhammad Bilal</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Welcome to Dr. Bilal's website!</h1>
				<p>Distinguished Professor at Nanjing University of Information Science and Technology (NUIST), Nanjing, China.</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:muhammad.bilal@connect.polyu.hk">Email</a></li>
        		<li><a href="https://github.com/rsbilal">GitHub</a></li>
			<li><a href="https://www.researchgate.net/profile/Muhammad_Bilal_phd">ResearchGate</a></li>
			<li><a href="https://publons.com/researcher/1093783/muhammad-bilal">Publons</a></li>
			<li><a href="https://scholar.google.com/citations?hl=en&user=fBCZaKwAAAAJ&view_op=list_works">GoogleScholar</a></li>
			</ul>
		</footer>
	</body>
</html>
